server:
  http_listen_port: 3200

distributor:
  receivers:
    zipkin: # Порт 9411 для Spring Boot (opentelemetry-exporter-zipkin)

ingester:
  max_block_duration: 5m

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
    wal:
      path: /var/tempo/wal

compactor:
  compaction:
    block_retention: 24h
